[mysqld]
server-id=1
datadir=/home/pprod_mysql/mysql/
socket=/home/pprod_mysql/mysql/mysql.sock
pid-file=/home/pprod_mysql/mysql/mysql.pid
port=3307
#skip-innodb
innodb_data_file_path = ibdata1:10M:autoextend
max_allowed_packet=64M
binlog-do-db=lutece_fr
log-bin=mysql-bin

[client]
socket=/home/pprod_mysql/mysql/mysql.sock
port=3307
user=pprod_mysql
max_allowed_packet=64M

[mysqlhotcopy]
socket=/home/pprod_mysql/mysql/mysql.sock
port=3307
user=pprod_mysql
password=w81_backup_mysql
allowold

[mysqldump]
socket=/home/pprod_mysql/mysql/mysql.sock
port=3307
user=pprod_mysql
password=pprod_mysql
opt
