[mysqld]
server-id=2
master-host=localhost
master-port=3307
master-user=prod_mysql
master-password=prod_mysql
datadir=/home/prod_mysql/mysql/
socket=/home/prod_mysql/mysql/mysql.sock
pid-file=/home/prod_mysql/mysql/mysql.pid
port=3306
#skip-innodb
innodb_data_file_path = ibdata1:10M:autoextend
max_allowed_packet=64M
skip-slave-start
replicate-do-db=lutece_fr
replicate-wild-ignore-table=lutece_fr.core_admin_%

[client]
socket=/home/prod_mysql/mysql/mysql.sock
port=3306
user=prod_mysql
max_allowed_packet=64M

[mysqlhotcopy]
socket=/home/prod_mysql/mysql/mysql.sock
port=3306
user=prod_mysql
password=prod_mysql
allowold

[mysqldump]
socket=/home/prod_mysql/mysql/mysql.sock
port=3306
user=prod_mysql
password=prod_mysql
opt
